---
---
@charset "utf-8";

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $base-font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
$site-title-font-family: $base-font-family;
$site-title-color: white;
// $site-title-letter-spacing: 0.03em;
$site-title-letter-spacing: 0.15em;
$site-header-background-color: #546d98;
$site-header-background-gradient: linear-gradient(120deg, $site-header-background-color, lighten($site-header-background-color, 45%));
$site-title-height: 100px;

$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// $monospace-font-family: Monaco, "Courier New", monospace;
$extra-small-font-size:  $base-font-size * 0.625;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fbfbfb;
$brand-color:      #2a7ae2;
$links-color:    #1756a9;
// $links-color-visited:    #6c17a9; 
$links-color-visited:    #5e1493; 

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$grey-color-semi-light: lighten($grey-color, 20%);

// $content-width:    700px;
$content-width:    $base-font-size * 45;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

////////////////////////////////////////////
// base
////////////////////////////////////////////
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    height: 1px;
    background: $grey-color-semi-light;
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;    // http://blog.55minutes.com/2012/04/iphone-text-resizing/
    -webkit-font-feature-settings: "kern" 1;
       -moz-font-feature-settings: "kern" 1;
       -moz-font-feature-settings: "kern=1";
         -o-font-feature-settings: "kern" 1;
            font-feature-settings: "kern" 1;
    font-kerning: normal;
    // text-rendering: optimizeLegibility;   // disabled because of possible performance issues, https://css-tricks.com/almanac/properties/t/text-rendering/
}

// Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

//////////////////////////////////////////////////////////////////

img {
    max-width: 100%;
    vertical-align: middle;
}

figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

//////////////////////////////////////////////////////////////////

ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

//////////////////////////////////////////////////////////////////

h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}

//////////////////////////////////////////////////////////////////

// a {
//     color: $brand-color;
//     text-decoration: none;

//     &:visited {
//         color: darken($brand-color, 15%);
//     }

//     &:hover {
//         color: $text-color;
//         text-decoration: underline;
//     }

//     .social-media-list &:hover {
//         text-decoration: none;

//         .username {
//             text-decoration: underline;
//         }
//     }
// }

a {
    color: $links-color;
    text-decoration: none;
    border-bottom: 1px solid $grey-color-light;


    &:visited {
        color: $links-color-visited;
    }

    &:hover {
        color: $text-color;
        border-bottom: 1px solid $grey-color-dark;
    }
}

a.site-title,
a.rss-feed {
    border-bottom: none;
}

a.site-title:hover {
    text-decoration: underline;
}

a.site-title:focus {
    text-decoration: none;
}

a.rss-feed:hover {
    border-bottom: 1px solid $grey-color-dark;
}

//////////////////////////////////////////////////////////////////

blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    @include relative-font-size(1.125);
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

//////////////////////////////////////////////////////////////////

pre,
code {
    @include relative-font-size(0.9375);
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    // background-color: $grey-color-light;
}

code {
    padding: 1px 3px;
    white-space: nowrap;
}

pre {
    // padding: 8px 12px;
    padding: 30px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

//////////////////////////////////////////////////////////////////

.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
}

// http://stackoverflow.com/questions/8554043/what-is-a-clearfix/29562362#29562362
// for IE>=8
%clearfix:after {
    content: "";
    display: table;
    clear: both;
}

//////////////////////////////////////////////////////////////////

.icon {
    display: inline-block;
    vertical-align: middle;

    > svg {
        width: $base-font-size;
        height: $base-font-size;

        path {
            fill: $grey-color;
        }
    }
}


////////////////////////////////////////////
// end base
////////////////////////////////////////////

// .home {
//     text-align: center;
// }

.site-header {
    border-bottom: 0px solid $grey-color-dark;
    min-height: $site-title-height;

    // Positioning context for the mobile navigation icon
    position: relative;

    background-color: $site-header-background-color;
    // background-image: $site-header-background-gradient;
    background-color: #546d98;

    // thanks to http://www.heropatterns.com/
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%238a9dbd' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

// text-align: center;
}

.site-title {
    // padding-left: 50px;
    // padding-right: 50px;

    font-family: $site-title-font-family;
    letter-spacing: $site-title-letter-spacing;
    @include relative-font-size(3);
    line-height: $site-title-height;
    // font-weight: 300;
    margin-bottom: 0;
    // margin-left: 50px;
    // float: left;

    color: $site-title-color;
    &,
    &:visited {
        color: $site-title-color;
    }
}

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    // background-color: $grey-color-light;
    text-align: center;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    margin-bottom: $spacing-unit * 2;
}

.page-source-link {
    @include relative-font-size(0.7);   
    color: $background-color;
    border-bottom: none;
    
    &:active, &:visited {
        // color: $background-color;
        color: $grey-color-dark;
    }
    &:hover {
        color: $grey-color;
        border-bottom: 1px solid $grey-color;
    }
}

//////////////////////////////////////////////////////////////////

.disqus-button-wrapper {
    text-align: center;
}
#disqus-button-show-comments {
      background: url("https://a.disquscdn.com/dotcom/d-2407bda/img/brand/disqus-social-icon-dark.svg") 20px center no-repeat;
      background-size: 30px 30px;
      height: 75px;
      padding: 10px 20px 10px 50px;
      border: 1px solid $grey-color-light;
      cursor: pointer;
}

//////////////////////////////////////////////////////////////////

.page-content {
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 2;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
    margin-left: 2em;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

ul.post-list li h2 {
    margin-bottom: 0px;
    line-height: 1;
}

.post-meta {
    font-size: $extra-small-font-size;
    color: $grey-color-semi-light;
    margin-left: 2px;
}

.post-link {
    // display: block;
    @include relative-font-size(1.5);
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);
  }

  h3 {
    @include relative-font-size(1.625);
  }

  h4 {
    @include relative-font-size(1.25);
  }
}


// @import "syntax-highlighting";

.collection-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.collection-page {
    margin-left: 2em;
    list-style: none;
}
