{% if site.livereload_script %}<script src="{{ site.livereload_script }}"></script>{% endif %}
{% if page.mathjax %}
<script type="text/x-mathjax-config">
 MathJax.Hub.Config({ TeX: { extensions: ["color.js"] },
                      /* tex2jax: { inlineMath:  [ ['$','$' ],    // was also ['$','$']
                       *            displayMath: [ ['$$','$$'] ]     // was also ['$$','$$']
                       * },*/
                      showProcessingMessages: false });
</script>
<script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endif %}
{% if false %}<script id="dsq-count-scr" src="//koddo.disqus.com/count.js" async></script>{% endif %}
{% if true %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"></script>
<script>anchors.add().remove(".no-anchor");</script>
{% endif %}
