.ryctoic-questions {
    border: 1px solid #ccc;
    padding: 10px;
}


.todo {
    color: green;
}




.mytable{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #ff0000;
}
.mytable th{
    border:2px solid #000000;
}
.mytable td{
    border:1px solid #000000;
}

